:root {
  --font-family: sans-serif;
  --main-bg: #f6f6f6;
  --list-bg: #fff;
  --grey: #ccc;
  --error: red;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: var(--main-bg);
}

li {
  list-style-type: none;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  background: var(--list-bg);
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  margin: 60px auto;
  padding: 15px;
  border: 1px solid var(--list-bg);
  border-radius: 4px;
}

.flex-2 {
  flex: 2 1 90%;
}

.flex-1 {
  flex: 1 1 auto;
}

.display-none {
  display: none;
}

.error {
  font-size: 12px;
  font-weight: 600;
  color: var(--error);
}

.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--list-bg);
  padding: 9px 3px;
  min-height: 30px;
}

.separator {
  border-bottom: 1px solid var(--grey);
}

#error-container {
  display: none;
}

#add-task-input {
  height: 30px;
  width: 90%;
  border: none;
  padding: 6px;
  font-style: italic;
}

.add-icon {
  cursor: pointer;
  width: 10px;
  margin-right: 9px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 3px;
}

.todo-list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--grey);
  padding: 15px;
}

.edit-task {
  border: none;
  padding: 6px;
  width: 90%;
}

.list-item-data {
  cursor: pointer;
}

.button-container {
  padding: 9px 0;
  justify-content: center;
}

#clear-completed-btn {
  cursor: pointer;
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 15px;
  min-width: 20px;
  font-weight: 600;
  box-shadow: 3px 6px 9px 3px rgb(183, 183, 183);
}

#clear-completed-btn:active {
  box-shadow: none;
}
