:root {
  --font-family: sans-serif;
  --main-bg: #f6f6f6;
  --list-bg: #fff;
  --grey: #ccc;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: var(--main-bg);
}

li {
  list-style-type: none;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  background: var(--list-bg);
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
  margin: 60px auto;
  padding: 15px;
  border: 1px solid var(--list-bg);
  border-radius: 4px;
}

.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--list-bg);
  padding: 9px 3px;
  border-bottom: 1px solid var(--grey);
  min-height: 30px;
}

.button-container {
  padding: 9px 0;
  justify-content: center;
}
